@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
<<<<<<< HEAD
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/beranda\ pic.jpg");
=======
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("../img/beranda\ pic.jpg");
>>>>>>> 1942fd125af486de9ccafc5da06c805efc97ee86
  background-size: cover;
  background-position: center center;
}
#mainText {
  margin-top: -5rem;
  margin-bottom: -5rem;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
}

.listmeja {
  color: #fcfcfc;
  font-family: "Poppins", sans-serif;
}
.pilih {
  margin-top: 80px;
}
<<<<<<< HEAD
.card {
  padding: 30px 30px;
  text-align: center;
  background-color: #292b2c;
  color: #fcfcfc;
  border-color: #292b2c;
=======
.card{
    padding: 30px 30px;
    text-align: center;
    background-color: #292b2c;
    color: #fcfcfc;
    border-color: #292b2c;
>>>>>>> 1942fd125af486de9ccafc5da06c805efc97ee86
}
.pagination {
  margin-top: 60px;
}
.card-text {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
.pagination li a {
  background-color: #292b2c;
  color: #fcfcfc;
  border-color: #292b2c;
}
